In [1]:
import pandas as pd
import numpy as np

## Time for some practice!

Remember the dataset we dealt with in the Chapter 4 practice exercise?

Let's have a look at it again.

Start off by reading the csv you saved with data from <strong>merged_df</strong>, reacquaint yourself with this dataframe by reading the first 5 rows, printing out the name of the columns and understanding the type of data each column holds.

In [2]:
#answer here

file = 'Chapter 4 - Pandas Exercise_1/merged_df.csv'
df = pd.read_csv(file)
df.head()

,price,unit,location,bedrooms,baths,state,source
0,1000000.0,per Year,"15 - 17 Bolaji Balogun Street, Ayonusi Estate,...",5.0,6.0,Lagos,naijaprop
1,600000.0,per Year,"15 - 17 Bolaji Balogun Street, Ayonusi Estate,...",3.0,3.0,Lagos,naijaprop
2,250000.0,per Year,"badore,owode and addo roads,",1.0,1.0,Lagos,naijaprop
3,1000000.0,per Year,"ilupeju,",3.0,2.0,Lagos,naijaprop
4,600000.0,per Year,"badore road,",3.0,2.0,Lagos,naijaprop

## Question 1

Group merged_df by state and return the average cost of rentals per year by state

In [3]:
#answer here

group_by_state = df.groupby('state').mean()

In [4]:
group_by_state

                     price
state
Abia          2.809018e+05
Abuja         4.701407e+06
AbujaKano     1.549750e+07
AbujaOsun     1.400000e+07
Adamawa       1.562500e+06
Akwa Ibom     1.258929e+06
Anambra       4.648687e+05
Bayelsa       1.550000e+05
Benue         4.000000e+06
Borno         6.000000e+05
Cross Rivers  3.167198e+05
Delta         2.139602e+07
Edo           3.075652e+05
Ekiti         2.500000e+06
EkitiEnugu    2.700000e+05
EkitiKwara    1.671333e+04
Enugu         4.382974e+05
Imo           3.224497e+05
Kaduna        7.584940e+05
Kano          2.084802e+05
KanoNasarawa  3.277778e+05
Kwara         2.278771e+06
Lagos         2.317526e+06
LagosOgun     1.440000e+05
Ogun          4.233302e+05
Ondo          1.015000e+06
Osun          1.730942e+05
Oyo           6.000663e+05
OyoOsun       4.000000e+05
Plateau       1.347486e+05
Rivers        9.984435e+05
Sokoto        3.513125e+06

## Question 2

Return a subset of all listings where the price of rentals is between 50000 and 100000 Naira

In [5]:
#answer here

df.loc[df['price'].between(50000, 100000)]

,price,unit,location,bedrooms,baths,state,source
13,85000.0,per Year,"23 Dipeolu street, off Obafemi Awolowo Way,",1.0,1.0,Lagos,naijaprop
205,60000.0,per Year,,1 bed,1 bath,NaN,proppop
276,80000.0,per Year,,0 bed,0 bath,NaN,proppop
325,55000.0,per Year,,0 bed,0 bath,NaN,proppop
388,100000.0,per Year,,1 bed,1 bath,NaN,proppop
507,70000.0,per Year,,0 bed,0 bath,NaN,proppop
525,100000.0,per Year,aleke adamo ikorodu ikorodu lagos,1 bed,1 bath,Lagos,proppop
638,80000.0,per Year,,0 bed,0 bath,NaN,proppop
640,65000.0,per Year,,3 bed,3 bath,NaN,proppop
642,70000.0,per Year,,0 bed,0 bath,NaN,proppop
801,90000.0,per Year,,0 bed,0 bath,NaN,proppop
804,50000.0,per Year,,0 bed,0 bath,NaN,proppop
902,50000.0,per Year,,0 bed,0 bath,NaN,proppop
907,50000.0,per Year,,1 bed,1 bath,NaN,proppop
1038,65000.0,per Year,,0 bed,0 bath,NaN,proppop
1042,80000.0,per Year,,0 bed,0 bath,NaN,proppop
1047,60000.0,per Year,,0 bed,0 bath,NaN,proppop
1048,60000.0,per Year,,0 bed,0 bath,NaN,proppop
1050,65000.0,per Year,,0 bed,0 bath,NaN,proppop
1051,80000.0,per Year,,0 bed,0 bath,NaN,proppop
1052,65000.0,per Year,,0 bed,0 bath,NaN,proppop
1291,100000.0,per Year,,0 bed,0 bath,NaN,proppop
1345,67000.0,per Year,,bed,bath,NaN,proppop
1353,90000.0,per Year,,0 bed,0 bath,NaN,proppop
1356,80000.0,per Year,,4 bed,4 bath,NaN,proppop
1409,70000.0,per Year,,0 bed,0 bath,NaN,proppop
1415,80000.0,per Year,,0 bed,0 bath,NaN,proppop
1542,50000.0,per Year,,bed,bath,NaN,proppop
1596,75000.0,per Year,,0 bed,0 bath,NaN,proppop
1638,80000.0,per Year,"water corporation drive, victoria island exte...",0 bed,0 bath,Lagos,proppop
...,...,...,...,...,...,...,...
17987,80000.0,per Year,"Lagos, Lagos Island, Lagos State",4,4,Lagos,trovit
18112,96000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18124,100000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18139,60000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18155,100000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18166,60000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18172,84000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18175,72000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18190,80000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18193,100000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18199,100000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18201,72000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18235,100000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18245,100000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18258,100000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18261,60000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18279,100000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18288,84000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18289,84000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18292,100000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18294,60000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18315,72000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18318,100000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18329,84000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18330,96000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18335,60000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18346,84000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18351,72000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18352,80000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit
18356,80000.0,per Year,"Ikorodu, Lagos State",1,1,Lagos,trovit

## Question 3

What is the average size of houses that are between 50k and 100k Naira. Size in this context refers to the number of bedrooms and baths in each house

In [6]:
df.baths.unique()

array(['6.0', '3.0', '1.0', '2.0', '4.0', '2 bath', '3 bath', '4 bath',
       '5 bath', '0 bath', '1 bath', '6 bath', ' bath', '7 bath',
       '10 bath', '8 bath', '12 bath', '15 bath', '9 bath', '2', '1', '3',
       '5', '12', '7', '4', '10 br', '1 br', '2 br', '6', '5 br', '18',
       '10', '9', '7 br', '3 br', '8', '4 br', '6 br', '15', '16', '8 br',
       '11', '14', '20 br', '11 br', '13 br', '12 br'], dtype=object)

In [7]:
#answer here

# Since the baths and bedroom columns are not numeric, it it necessary to clean and convert the to numeric
# in order to complete thhe task

df['bedrooms'] = df['bedrooms'].apply(lambda x: x.replace('bed', '').replace('br', '').replace(' ', '0') if pd.notna(x) else x).astype(np.float64)
df['baths'] = df['baths'].apply(lambda x: x.replace('bath', '').replace('br', '').replace(' ', '0') if pd.notna(x) else x).astype(np.float64)

df.baths.unique()

array([  6.,   3.,   1.,   2.,   4.,  20.,  30.,  40.,  50.,   0.,  10.,
        60.,  70., 100.,  80., 120., 150.,  90.,   5.,  12.,   7.,  18.,
         9.,   8.,  15.,  16.,  11.,  14., 200., 110., 130.])

In [8]:
df.loc[df['price'].between(50000, 100000)][['bedrooms', 'baths']].mean()

bedrooms    7.131549
baths       2.256834
dtype: float64

## Question 4

Create a new column that shows the monthly cost of each listing

In [9]:
#answer here

df['monthly_cost'] = df.price /12
df.head()

,price,unit,location,bedrooms,baths,state,source,monthly_cost
0,1000000.0,per Year,"15 - 17 Bolaji Balogun Street, Ayonusi Estate,...",5.0,6.0,Lagos,naijaprop,83333.333333
1,600000.0,per Year,"15 - 17 Bolaji Balogun Street, Ayonusi Estate,...",3.0,3.0,Lagos,naijaprop,50000.000000
2,250000.0,per Year,"badore,owode and addo roads,",1.0,1.0,Lagos,naijaprop,20833.333333
3,1000000.0,per Year,"ilupeju,",3.0,2.0,Lagos,naijaprop,83333.333333
4,600000.0,per Year,"badore road,",3.0,2.0,Lagos,naijaprop,50000.000000

## Question 5

Save your new dataframe as a csv in your computer

In [10]:
#answer here

df.to_csv('pandas_exercise_2.csv', index=False)